/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css?family=Poppins:300,400');
// @import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

$input-font-size: 30px;
$input-line-height: 70px;
// $font-family: 'Poppins', sans-serif;
// $font-family: 'Fira Mono', monospace;
$font-family: 'Rubik', sans-serif;

body {
  background-color: #222222;
}
