<!-- <div class="input-wrapper">
  <input type="text" placeholder="Search..." [(ngModel)]="chatBox" (change)="onChange($event)">
  <input type="text" placeholder="Search..." [(ngModel)]="chatBox" (change)="send()">
  <span class="input-highlight">
    {{ chatBox }}
  </span>
</div> -->

<form action="">
  <div class="input-wrapper">
    <input type="text" placeholder="Message..." [(ngModel)]="chatBox" [ngModelOptions]="{standalone: true}">
    <span class="input-highlight">
      {{ chatBox }}
    </span>
  </div>
  <button (click)="send()">Send</button>
</form>

<ul>
  <li *ngFor="let message of messages">
    <span class="response" [innerHTML]="isSystemMessage(message) | textFormat"></span>
    <!-- <span class="response">
      {{ message | textFormat}}
    </span> -->
  </li>
</ul>
